@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
  --font-family: "Kumbh Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/bg-pattern-top.svg") -86% 82% no-repeat,
    url("../images/bg-pattern-bottom.svg") 180% -40% no-repeat;
  background-color: var(--Dark-cyan);
  font-family: var(--font-family);
  font-size: 18px;
}
p {
  color: var(--Dark-gray);
}
main {
  width: 400px;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
}
main > .bgImg {
  height: 120px;
  width: 100%;
  background: url("../images/bg-pattern-card.svg") no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
}
main > .bgImg > .img {
  position: relative;
  top: 70px;
}
main > .bgImg > .img > img {
  border-radius: 50%;
  border: 4px solid white;
}
main > .info {
  height: 170px;
  padding: 0 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > .info > .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
main > .info > .name > h1 > span {
  color: var(--Dark-gray);
}
main > .mainInfo {
  height: 90px;
  background-color: white;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  border-top: 1px solid lightgray;
}
main > .mainInfo > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}